@page
@model TestApp.Pages.WelcomeModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body style="background-color: #fff8d7">

    <h1>Welcome @Model.Username</h1>
    <a asp-page="Welcome" asp-page-handler="Logout">Logout</a>

</body>
</html>
